@keyframes shake {

  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

@keyframes jump {
  50% {
    transform: translateY(-4px);
  }

  0%,
  100% {
    transition: translateY(0);
  }
}

.inputHolder {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 6px;

  &.invalidAnimation {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  }

  // TODO: wrap all the segments in words, the words can then be stacked on top of each other
  // so we don't overflow the page, it'll require the page to render based on words, not spaces
  // .word {}

  .segment {
    width: 2.4em;
    height: 2.4em;
    margin: 3px;

    &.victoryAnimation { // :nth-child(n)
      // TODO: delay variable based on child position
      animation: jump 0.82s cubic-bezier(0.27, 0.78, 0, 1.36) linear;
    }

    input {
      width: 100%;
      height: 100%;
      font-size: 1.4em;
      background: none;
      text-align: center;
      outline: none;
      border: none;
      background: #dedede;
      text-transform: uppercase;

      &:focus {
        background: #bdbdbd;
      }

      &.correct {
        background: #0c9c0c;
        color: #fff;
      }

      &.invalid:not(.correct) {
        background: #f00;
        color: #fff;
      }
    }
  }

}