@keyframes shake {

  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}


.inputHolder {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 6px;

  &.invalidAnimation {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  }

  .segment {
    padding: 3px;
    width: 2em;

    input {
      width: 100%;
      font-size: 1.6em;
      background: none;
      text-align: center;
      outline: none;
      border: none;
      border-bottom: 3px solid #0006;
      text-transform: uppercase;

      &:focus {
        border-bottom: 3px solid #0008;
      }

      &.correct {
        border-bottom: 3px solid #0c9c0c;
        color: #0c9c0c;
      }

      &.invalid:not(.correct) {
        border-bottom: 3px solid #f00;
        color: #f00;
      }
    }
  }

}