@import 'styles/variables';

.prompt {
  text-align: center;

  .name {
    font-size: 3.2em;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1em;
  }

  .epithet {
    font-size: 1.2em;
    line-height: 0.2em;
    color: #000a;
  }
}