.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0008;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  .popupModal {
    width: 80%;
    max-width: calc(480px * 0.8);
    height: fit-content;
    background: #fff;
    margin: 2em auto;
    padding: 1em;

    .title {
      font-size: 2em;
      border-bottom: 3px solid #0001;
    }

    .content {
      min-height: 8em;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}