.grid {
  width: 100%;
  height: 100%;

  .row {
    width: 100%;
    height: calc(100% / 8);

    .col {
      height: 100%;
      width: calc(100% / 8);

      .pixel {

        &.hoverable:hover {
          opacity: 0.5;
        }

        // TODO: color should maybe be handled all in ts
        &.blank {
          background: #eee;
        }
      }
    }
  }
}