.header {
  width: 100%;
  padding: 6px;
  border-bottom: 3px solid #0001;
  display: flex;
  justify-content: space-between;

  img {
    height: 24px !important;
  }

  .actionHolder {
    width: fit-content;
    display: flex;
  }
}