.palletContainer {
  width: 100%;
  padding-top: calc(100% * 3 / 13);
  position: relative;

  .palletHolder {
    margin-top: calc(-100% * 3 / 13);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px;

    .pallet {
      width: 100%;
      height: 100%;

      .row {
        width: 100%;
        height: calc(100% / 3);
        display: flex;

        .col {
          height: 100%;
          width: calc(100% / 13);

          .swatch {
            width: 100%;
            height: 100%;
            cursor: pointer;

            &.selected {
              outline: 3px solid #000a;
              z-index: 1;
              position: relative;
              transform: scale(1.1);
              pointer-events: none;
              cursor: default;
            }
          }
        }
      }
    }
  }
}